.toast {
  position: absolute;
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
  padding: var(--spacing-300) var(--spacing-400);
  border-radius: var(--spacing-300);
}

.toast-success {
  background-color: var(--color-success-light);
}

.toast-info {
  background-color: var(--color-info-light);
}

.toast-warning {
  background-color: var(--color-alert-light);
}

.toast-error {
  background-color: var(--color-error-light);
}
