:root {
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 12px;
  --spacing-300: 16px;
  --spacing-400: 24px;
  --spacing-500: 32px;

  --color-primary: #731CFA;
  --color-secondary: #6B7280;
  --color-tertiary: #F3F4F6;
  --color-danger: #EF4444;

  --color-info-light: #E0E7FF;
  --color-success-light: #DCFCE7;
  --color-alert-light: #FEF9C3;
  --color-error-light: #FEE2E2;

  --text-color-100: #111827;
  --text-color-200: #374151;
  --text-color-300: #6B7280;
  --text-color-400: #9CA3AF;
  --text-color-500: #D1D5DB;
  --text-color-600: #F3F4F6;

  --text-size-100: 0.875rem;
  --text-size-200: 1rem;
  --text-size-300: 1.25rem;
  --text-size-400: 1.5rem;
  --text-size-500: 2rem;
}